.navs-to-push {
  display: flex;
  justify-content: flex-end;
}
.nav-color {
  background-color: #fdfaea !important;
}
@media screen and (max-width: 991px) {
  .push-up {
    margin-top: 1px !important;
  }
  .larere {
    display: none !important;
  }
  .navs-to-push {
    display: flex;
    justify-content: flex-start;
  }
  .left-green-talk {
    margin-top: 85px;
  }
  .wikiki {
    margin-top: 30px !important;
    display: flex !important;
    justify-content: flex-start !important;
  }
  .biggaton {
    margin-top: 220px;
    margin-bottom: 620px;
  }
  .name-of-link {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #0a0a0a;
    margin-right: 35px;
    cursor: pointer;
    margin-top: 20px;
  }
  .name-of-link2 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #0a0a0a;
    cursor: pointer;
    margin-top: 20px;
  }
}
.name-of-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #0a0a0a;
  margin-right: 35px;
  cursor: pointer;
}
.name-of-link2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #0a0a0a;
  cursor: pointer;
}
.aji-logo {
  width: 100%;
}
.main-for-green {
  background-color: #009055;
  padding-top: 15px;
}
.main-for-green3 {
  background-color: #fdfaea;
  padding-top: 15px;
}
.main-for-green2 {
  background-color: #fdfaea;
  padding-top: 15px;
}
.transfore {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;

  color: #ffffff;
}
.transfore2 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;

  color: #0a0a0a;
}
.reasonw-we {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #ffffff;
}
.reasonw-we2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #0a0a0a;
}
.signup-button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #0a0a0a;
  margin-top: 15px;
  outline: none;
  border: none;
  width: 276px;
  height: 55px;
  background: #efca2f;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.background-imahe {
  background-image: url("./images/Group\ 10.png");
}
.product-showcase-letter {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #0a0a0a;
  padding-top: 55px;
}
.products-itself {
  /* background-color: red; */
  margin-top: 45px;
}
.flex-up {
  display: flex;
  overflow-x: scroll;
}

.flex-up::-webkit-scrollbar {
  display: none;
}

.dot-nav {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.dot-nav button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  margin: 0 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.dot-nav button.active {
  background-color: #efca2f;
}
.get-to-know-us {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #009055;
  width: 170px;
  height: 35px;
  background: rgba(0, 144, 85, 0.1);
  border-radius: 20px;
}
.farm-background {
  background-image: url("./images/image\ 15.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.potimum {
  padding-top: 120px;
}
@media screen and (min-width:1024px){
  .potimum {
  padding-top: 350px;

}
}
@media screen and (max-width: 768px) {
  .dot-nav {
    display: none !important;
  }
  .img-hol {
    height: 200px;
    width: 100% !important;
    object-fit: contain !important;
  }
  .ebisa {
    background: #009055;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
  }
  .trusted {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 50px !important;
    text-align: center;
    color: #ffffff;
  }
  .transfore {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 40px !important;

    color: #ffffff;
  }
  .transfore2 {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 40px !important;

    color: #000000;
  }
  .main-for-green {
    background-color: #009055;
    padding-top: 5px !important;
  }
  .need {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;

    color: #667085;
  }
}

.trusted {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
}
.yelow-back {
  width: 220px;
  height: 275px;
  background: #efca2f;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.webeck {
  display: flex;

  align-items: center;
  flex-direction: column;
  height: 100%;
}
.number {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #0a0a0a;
  margin-top: 25px;
}
.dist {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-top: 18px;
  color: #0a0a0a;
}
.push-up {
  margin-top: -140px;

}
.dow-oo {
  padding-top: 70px;
  padding-bottom: 40px;
  background: rgba(239, 202, 47, 0.1);
}
.tallk {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0a0a0a;
  margin-top: 20px;
}
.need {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;

  text-align: center;

  color: #667085;
}

.request {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background: #009055;
  outline: none;
  margin-top: 15px;
  border: 1px solid #009055;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 238px;
  height: 45px;
}
.call-footer {
  background: #009055;

  /* padding-top: 20px; */
}
.okay {
  padding-top: 65px;
  padding-bottom: 30px;
}
.ajiff {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.wikiki {
  display: flex;
  justify-content: center;
}
.navsss {
  margin-bottom: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.line {
  color: white;
  font-weight: bolder;
}
.flexxc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.swift {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}
.why-ajifarm {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #0a0a0a;
}
.we-offer {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-top: 14px;
  text-align: center;
  color: #0a0a0a;
}
.biggaton {
  margin-top: 220px;
  /* margin-bottom: 620px; */
}
.yellow-box {
  background: #efca2f;
  height: 300px;
}
.green-box {
  background: #009055;
  border-radius: 10px;
  height: 280px;
  width: 300px;
  margin-top: -80px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 80px;
}
.circles {
  display: flex;
  justify-content: center;
}
.round {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #009055;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.prod {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

  color: #ffffff;
}
.offering {
  margin-top: 10px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fdfaea;
}
.ladyy {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 22px;
    height: 22px;
    background-color: rgb(255, 255, 255);

    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
  }

  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    /* background-color: #073099;
    border-color: #073099; */
  }

  #cursor.arrow::after {
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-image: url("https://svgshare.com/i/MzQ.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }

  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    /* background-color: rgba(227, 222, 193, 0.08); */
    border-color: transparent;
  }
}
.form-label {
  font-family: "DM Sans" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: #0a0a0a !important;
}
.hrhrhr {
  height: 65px;
}
input::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(10, 10, 10, 0.6);
}
.submit-buttons {
  background: #009055;
  width: 100%;
  height: 57px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}
.form-check-label {
  font-family: "DM Sans" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 19px !important;
  color: rgba(10, 10, 10, 0.6) !important;
}
.winkk {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #0a0a0a;
}
.oioi {
  margin-top: 20px;
  padding-left: 20px;
  text-decoration: none;
}
.ebisa {
  background: #009055;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}
.shawty {
  background: #fdfaea;
  padding-top: 70px;
  padding-bottom: 70px;
}
.img-hol {
  height: 200px;
  width: 350px;
}
.eggs {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #0a0a0a;
}
.distt {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #667085;
  text-transform: lowercase;
}
.cliclnow {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
  width: 238px;
  height: 45px;
  outline: none;

  background: #efca2f;

  border: 1px solid #efca2f;
  border-radius: 8px;
}
.cliclnow2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
  width: 238px;
  height: 45px;
  outline: none;

  border: #009055;
  background: #009055;
  border-radius: 8px;
}
.gege {
  display: flex;
  justify-content: flex-start !important;
}
